version: '3.8'

services:
  mongodb:
    image: mongo:6-jammy
    container_name: mean_mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mean-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mean_backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGO_URL=mongodb://mongodb:27017/dd_db
    depends_on:
      - mongodb
    networks:
      - mean-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: mean_frontend
    ports:
      - "50266:80"
    depends_on:
      - backend
    networks:
      - mean-network

volumes:
  mongo-data:


networks:
  mean-network:
    driver: bridge
