.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

.list-group-item.active:hover {
  background-color: #007bff;
}